<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="proje_iliskili_tablolar_my.Properties.Settings.yb_hareketConnectionString"
            connectionString="Data Source=DESKTOP-QBFPK40\SQLEXPRESS;Initial Catalog=yb_hareket;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>